 body{
  
  background-color:#990000;
  
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;

}

#imglogo{
  width: 30%;

}



#checar{
  color: green;
  margin: 10px;
}


.control {
  height: 300px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/*flex-wrap:wrap;  */
.texto{
  margin-top:4%;
  display:flex;
  color: #609f1d;
}

.form-control {

  inline-size: 40%;

}

.form-control:invalid {
    border:solid 2px;
    border-color: red;
  }
.form-control:valid {
  border:solid 2px;
  border-color: green;
}
.button {
  height: 35px;
  display: flex;
  justify-content: center;
  border-color: #717792;
  border-radius:40%;
  border-style: ridge;
  background-color: rgb( 67, 72, 95);
  color: #e9a8a8;
}
#button {
  height: 67px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}