body{
    background-color: #4F4F4F;
    color: whitesmoke;
    
}
.container-formulario {
    max-width: 960px;
    margin: 0 auto;
}
.container-formulario #txtnome{
    display: block;
    margin-left: 1.25rem;
}
.container-formulario #txtnome #nome{
    width: 95%;
}

.container-formulario li{
    max-width: 960px;
    margin: 0 auto;
}
.perguntas-formulario{
    display: block;
    margin-left:1.25rem;
    margin-top: 2%;
    background-color: #666666;
}
#tituloformato{
    margin-top: 40px;
}
.bloco-Perguntas{

    margin-left:20px;
}
.perguntas-formulario h2{
    display: block;
   text-align: center;
}

.modal{
    color:red;
}

.container-mostrar{
    max-width: 960px;
    display: block;
    margin: 0 auto;
}

.item-mostrar{
    display: block;
    margin: 0 auto;
}


label{
    font-size: 1.20rem;
}

.bloco_checkbox{
    margin-bottom: 2.5rem;
}

#show_or_hide{
    display: block;
    padding: 10px;
    background-color: rgb(113, 85, 91);
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}


.container-formulario{
    max-width: 960px;
    display: block;
    margin: 0 auto;
}

.item-formulario{
    margin: 30px 10px;
}

.btn-enviar{
display: block;
padding: 10px;
background-color: rgb(113, 85, 91);
color: #FFF;
font-size: 12px;
text-transform: uppercase;
text-align: center;
display: block;
margin: 0 auto;
cursor: pointer;
}