.cabecalho{
    font-family: Arial;
    display: flex;
    justify-content:center;
    align-items: center;
   
}
.espacohome{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 30px;
    color: #99970F;
}

#txtadministracao{
    margin-right: 10%;
    color: white;
}

.formulario{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #990000;
    font-family: Arial;
    margin-top: 2%;
}

.descricao{
    display: flex;
    justify-content:center;
    text-align: initial;
    margin-bottom: 2%;
}

.modcardapio{
    display: block;
    margin-bottom: 1%;
}


#precos{
    width: 12vh;
    display: block;
    margin-bottom: 1%;
}

#btncadastrar{
    display: flex;
    justify-content:center;
    align-items: center;
}


input[type="file"], #fotos{
    display: none;
}

#fotos-upload{
    padding: 10px;
    width: 133px;
    background-color: #333;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


#IDselectFotos{
    padding: 10px;
    width: auto;
    background-color: #333;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.alinginput{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items:center;

}



#fotostest{
    padding: 10px;
    width: 50%;
    background-color: #333;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#enviar{
    display: flex;
    width: 25%;
    justify-content: center;
    justify-items: center;
}
#removeshow{
    width: 150px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.imageThumb{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;   
    height: 80px; 
}
.pip{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    

}
.remove{
    width: 20px;
    margin-bottom: -8%;
    display: flex;
    cursor: pointer
}

    .modmenu{
        width: 70vh ;
        padding: 1%;
    }

@media screen AND (min-width: 500px){

    .modmenu{
        width: 40vh ;
        padding: 1%;
    }
    }
@media screen AND (min-width: 660px){

        .modmenu{
            width: 70vh ;
            padding: 1%;
        }
}    


